 .alert {
      margin-left: 25%;
      margin-right: 25%;
      padding: 20px;
      background-color: #ffffff;
      color: rgb(7, 6, 6);
    }

    .w3-panel p {
      padding-top: 10px;
    }

    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .closebtn:hover {
      color: black;
    }