{% extends 'ecom/homebase.html' %}
{% load static %}

{% block content %}
<br><br>
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h6 class="panel-title text-center">My Cart</h6>
            </div>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                        {% if p %}
                            <tr>
                                <td>{{ p.name }}</td>
                                <td><img src="{% static p.product_image.url %}" alt="Product Image" height="50px" width="50px"></td>
                                <td>${{ p.price }}</td>
                                <td>{{ p.description }}</td>
                                <td>
                                    <a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart' p.id %}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No products</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <button class="btn btn-danger btn-lg">Total ${{ total }}</button>
            <a href="{% url 'customer-address' %}">
                <button class="btn btn-success btn-lg"><span>Purchase</span></button>
            </a>
        </div>

    </div>

{% endblock content %}
