{% extends 'ecom/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="/static/CSS/update_order.css">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<br><br><br><br><br><br>
<!------ update page for doctor by admin TRIO ---------->
<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Update Status Of Order</p>
      </div>
      <div class="form-content">

            <label for="">Select Any:</label>

              {% render_field orderForm.status class="form-control" placeholder="Address" %}
            </div>

          </div>
        </div>
        <button type="submit" class="btnSubmit">Update Order Status</button>

</form>
<!--
developed By : SMI S6 TRIO
-->

{% endblock content %}
